<!-- _LoginRegister.cshtml -->
    <div class="page">
      <div class="page-background js-canvas-container">
          <canvas class="scene scene-bottom" data-position="center" width="1400" height="700" style="width: 1400px; height: 700px;"></canvas>
      </div>

      <div class="welcome">
          <span style="font-family: 'Futura New', Arial Narrow, sans-serif;"> </span>
          <div class="title page-title">
             <h1>Your Smart & Secure<br> BLINKBANK Account!</h1>
             <h2 class="title-sub">
                 <span>Send, Receive, and Manage Your Money with Ease</span>
                 <span>Secure Banking for Your Personal and Business Needs.</span>
             </h2>
          </div>

          <div class="buttons">
             <a href="/Account/Register" class="btn btn--create" style="width:253px;">
                <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="25px" height="30px" viewBox="0 0 25 30" enable-background="new 0 0 25 30" xml:space="preserve">
                   <image id="image1" width="25" height="30" x="0" y="0" xlink:href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABkAAAAeCAQAAABz5X1QAAAABGdBTUEAALGPC/xhBQAAACBjSFJN
                   AAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QA/4ePzL8AAAAHdElN
                   RQfiDBgXBDSbtAYcAAABfElEQVQ4y5WSsUvUYRyHn/fn6Q2ZpFYHGfYH1JCTs5DQ2lKLDtIc0uIY
                   5BYGjeEi4hZu4hI0ZIkmCN1xpVJzgdFZQzro3T0OYnin9/7u93y3L+/zfd/P+75IpAoWLXuzsRsT
                   Bv2u6o9GqbUw4LanbDmYrvRY8ixl++JKoUlQ/WahtdLtuhex7g2RINznHnlqXOaASWCNYS5mngnA
                   x2fmjHnLHVszdrKLHPGZBJlmmeeMU8Fz8wN1ZpkDwGdeabgp0ioI4zygixp55LBFikAHRV7yB3Da
                   9vlgIriXQdEhSegkC1ch4SiT0gW51EWrfOKQBAjk2SA1y0zTFV9Li/9TfGRFraq/rbjvQlxZEd+p
                   mz717WkzrqyKK/4zJ2JR1b9JNHoActSoAvALgHpcqQIH9PCK20wxCkB3/GDb4oumXim4R29kn4cs
                   codLQJ0agX7KaU/5hrt8JOEkQI4l6lm/5aj//XYJZP7J+5DwPoOwy1cIXuc1I20JX3hCCY4B5/Ks
                   rqdIQPQAAAAldEVYdGRhdGU6Y3JlYXRlADIwMTgtMTItMjVUMDY6MDQ6NTItMDc6MDBBc7LnAAAA
                   JXRFWHRkYXRlOm1vZGlmeQAyMDE4LTEyLTI1VDA2OjA0OjUyLTA3OjAwMC4KWwAAABl0RVh0U29m
                   dHdhcmUAQWRvYmUgSW1hZ2VSZWFkeXHJZTwAAAAASUVORK5CYII="></image>
                </svg>
                Create Account
             </a>

              <a href="/Account/Login" class="btn btn--login white-login" style="width:158px;">
                  <svg version="1.0" xmlns="http://www.w3.org/2000/svg" width="30px" height="15px" viewBox="0 0 300 150">
                      <g id="key-login" fill="#03a9f4" stroke="#03a9f4">
                          <path d="M0 87 c0 -36 19 -47 82 -47 l58 0 0 35 c0 37 -8 43 -28 23 -9 -9 -15 -9 -24 0 -8 8 -17 8 -31 1 -13 -8 -22 -8 -30 0 -17 17 -27 13 -27 -12z"></path>
                          <circle cx="225" cy="75" r="55" fill-opacity="0" stroke-width="40"></circle>
                      </g>
                  </svg>
                  Login
              </a>
          </div>
      </div>
  </div>