@{
    Layout = "_LayoutGuest";
}

@{
    ViewData["Title"] = "No Account Found";
}

<section class="no-account-section">
    <div class="container text-center">
        <h1>You Don't Have an Account</h1>
        <p>Please create an account to access our services.</p>
        <a href="/AccountManagement/CreateAccount" class="btn">Create Account</a>
    </div>
</section>